/* CSS for the chat app */
body {
  background-color: #f0f0f0;
}

.chat-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.chat-form {
  flex: 1;
  margin-right: 20px;
  background: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
}

.chat-form form {
  display: flex;
  flex-direction: column;
}

.chat-form input {
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 5px;
}

.chat-display {
  flex: 2;
}

.message {
  position: relative;
  margin-bottom: 10px;
  padding: 8px;
  background-color: #fd5959;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.message:nth-child(2n) {
  background-color: #ff9c6d;
}

.message:nth-child(3n) {
  background-color: #fcff82;
}

.message:nth-child(4n) {
  background-color: #afc5ff;
}

.timestamp {
  font-size: 12px;
  color: #888;
  right: 0;
  align-self: flex-end;
}
